In [1]:
import pandas as pd
import numpy as np

In [3]:
salaries = pd.read_csv("Data/16-17PlayerSalary.csv")

In [4]:
salaries.head()

           Player     Salary Team
0    A.J. Hammons   650000.0  DAL
1    Aaron Brooks  2700000.0  IND
2    Aaron Gordon  4351320.0  ORL
3      Aaron Gray   452059.0  DET
4  Aaron Harrison   375579.0  CHA

In [8]:
salary=salaries.drop_duplicates(subset="Player")

In [10]:
salary.to_csv("Data/Clean_16-17_salaries(1).csv")

In [11]:
stats = pd.read_csv("Data/16-17PlayerStats.csv")

In [12]:
clean_stats = stats.drop_duplicates(subset="Player")

In [15]:
clean_stats = pd.read_csv("Data/Clean_stats.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'